<% if @invite.id.nil? %>
  $("#error").html('Please enter a valid e-mail address');
  $("#text").html('');

<% else %>
  $("#emailform").html('');
  $("#error").html('');

  <% if @user_info['new'] %>
    $("#header").html('Thank you for signing up for early access!');
    $("#jsontext").html('We will contact you as soon as access becomes available. To get <b>earlier access</b>, share your referral link with your friends.');

  <% else %>
    $("#header").html('Thank you for coming back!');
    $("#jsontext").html('We will contact you as soon as access becomes available. You currently have <b><%= pluralize @invite.clicks, 'click' %></b> and <b><%= pluralize @invite.refer, 'referral' %></b>! Keep sharing by using the links below in order to gain earlier access!');

  <% end %>
  $("#sharefb").html('<fb:like href="<%= @user_info['url'] %>" layout="box_count" show_faces="false" width="65" font=""></fb:like>');
  $("#sharetwit").html('<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="<%= twitter_id %>" data-url="<%= @user_info['url'] %>">Tweet</a>');
  $("#sharelink").html('You can also share using the link below: <br /><input type="text" id="slink" name="slink" size="30" value="<%= @user_info['url'] %>" readonly onClick="select()">');

  <% # This is gross, but we can't just throw the facebook JS in the element %>
  var script = document.createElement('script');
  script.type = "text/javascript";
  script.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
  document.getElementsByTagName('head')[0].appendChild(script);
  FB.XFBML.parse();

<% end %>
